* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  color: #333;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden; }

a {
  text-decoration: none; }

.container {
  width: 183rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: [full-start] minmax(10rem, 1fr) [center-start] repeat(11, [col-start] minmax(min-content, 20rem) [col-end]) [center-end] minmax(10rem, 1fr) [full-end]; }

.heading {
  text-transform: uppercase;
  font-family: "Spartan", sans-serif; }
  .heading__1 {
    font-size: 7rem;
    text-align: center; }
  .heading__2 {
    font-size: 5rem; }
  .heading__3 {
    font-size: 3rem; }

.header__content--text {
  font-size: 3rem; }

.header__span {
  color: #fff;
  text-shadow: 0.3rem 0.3rem 0.3rem #666; }

.header__span--1 {
  color: #eec306;
  text-shadow: 0.4rem 0.4rem 0.4rem #666; }

header {
  width: 100%;
  height: 100vh;
  padding: 5rem 0;
  background-image: linear-gradient(135deg, #fce770 0%, #d2ce56 100%); }

.hero {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border-radius: 2rem;
  border: 2px solid #eee;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../../img/hero2.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

nav {
  width: 100%;
  height: 12rem;
  background-color: rgba(153, 153, 153, 0.5);
  border-bottom: 2px solid #f4f4f4;
  backdrop-filter: blur(1rem);
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  -moz-backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem); }

.navi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style: none; }

.navi__items {
  margin: 0 2rem; }

.navi__items--links {
  color: #666;
  font-size: 2rem;
  padding: 1.5rem 2.5rem;
  text-transform: uppercase;
  border-radius: 1rem;
  transform: all 0.5s;
  border-radius: 1rem;
  background: linear-gradient(145deg, #ffffff, #cacaca);
  box-shadow: 0.5rem 0.5rem 0.2rem rgba(102, 102, 102, 0.4); }
  .navi__items--links:hover {
    color: #a18901;
    box-shadow: inset 0.5rem 0.3rem 2rem rgba(238, 195, 6, 0.1), 0 0.5rem 1rem rgba(102, 102, 102, 0.3); }

.header__content {
  width: 100%;
  height: 15%;
  padding: 3rem;
  margin: 0 auto;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  background-color: rgba(187, 187, 187, 0.6);
  border-top: 2px solid #f4f4f4;
  backdrop-filter: blur(1rem);
  -moz-backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem); }

.about {
  grid-column: full-start / full-end;
  height: 100vh;
  padding: 3rem 0; }
  .about__title {
    width: 100%;
    margin: 7.5rem auto;
    height: 10rem;
    padding: 3rem;
    border-top: 1px solid #eec306;
    border-bottom: 1px solid #eec306;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.2); }

.about__design {
  position: relative;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.2); }

.about__item {
  width: 25rem;
  height: 25rem;
  transform: rotate(90deg);
  box-shadow: 0.5rem 0 0.3rem rgba(0, 0, 0, 0.3);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  z-index: -5;
  position: absolute; }
  .about__item--1 {
    background-color: rgba(204, 204, 204, 0.6);
    top: 1rem;
    left: 1rem; }
  .about__item--2 {
    top: 1rem;
    left: 27rem;
    background-color: #eec306; }
  .about__item--3 {
    top: 20.5rem;
    left: 14rem;
    background-color: rgba(238, 238, 238, 0.7); }
  .about__item--4 {
    top: 20.5rem;
    left: 40rem;
    background-color: #d2ce56; }
  .about__item--5 {
    top: 40rem;
    left: 27rem;
    background-color: rgba(238, 238, 238, 0.9); }

.about__content {
  display: grid; }

.about__content--text {
  font-size: 2rem; }

.honey {
  grid-column: full-start / full-end; }
