* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

:root {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  color: #333;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden; }

a {
  text-decoration: none; }

.heading {
  text-transform: uppercase;
  text-align: center; }
  .heading__1 {
    font-family: "Spartan";
    font-size: 7rem; }
  .heading__2 {
    font-size: 4.5rem; }

.header__content--text {
  font-size: 3rem; }

.header__span {
  color: #fff;
  text-shadow: 0.3rem 0.3rem 0.3rem #b69b06; }

header {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center; }

.hero {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 1 / 6;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0% 75%, rgba(255, 255, 255, 0.7) 85%, #fff 97%), url(../../img/hero2.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

nav {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 1;
  width: 100%;
  height: 10rem;
  background-color: rgba(153, 153, 153, 0.3);
  backdrop-filter: blur(1rem);
  -moz-backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  position: fixed;
  top: 0; }

.navi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style: none; }

.navi__items:not(:last-child) {
  border-right: 1px solid #333; }

.navi__items--links {
  color: #b69b06;
  font-size: 2rem;
  padding: 2.5rem 3.5rem;
  text-transform: uppercase;
  border-top: 3px solid transparent; }
  .navi__items--links:hover {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: #fff; }

.header__content {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: rgba(187, 187, 187, 0.6);
  backdrop-filter: blur(1rem);
  -moz-backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  display: grid;
  grid-column: 1 / 3;
  grid-row: 5;
  align-items: center; }

.about {
  padding: 2rem;
  height: 100vh; }

.about__shape {
  margin-bottom: .5rem;
  width: 18%;
  height: 33%;
  clip-path: polygon(25% 0, 75% 0, 100% 30%, 100% 70%, 75% 100%, 25% 100%, 0% 70%, 0% 30%);
  background-color: #f5f592; }
