* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-size: 1.5rem;
  box-sizing: border-box;
  color: #333;
  line-height: 3rem; }

a {
  text-decoration: none; }

.heading {
  line-height: 1.3;
  letter-spacing: 5%; }
  .heading__1 {
    font-size: 10rem;
    font-family: "Kaushan Script", cursive;
    color: #0f1143; }
  .heading__2 {
    font-size: 8rem;
    font-family: "Kaushan Script", cursive;
    color: #0f1143; }
  .heading__3 {
    font-size: 5rem;
    font-family: "Kanit", sans-serif;
    color: #0f1143; }
  .heading__4 {
    font-size: 3rem;
    font-family: "Kanit", sans-serif; }

.orange__line {
  width: 100rem;
  height: 2px;
  background-color: #ea9010; }

.about {
  display: flex;
  justify-content: space-between; }
  .about__left {
    width: 64%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 3.8rem 0; }
    .about__left--heading {
      margin-right: -15rem; }
    .about__left--text {
      text-align: center;
      text-indent: 10rem;
      font-size: 1.8rem;
      padding: 10rem 0 10rem 20rem; }
      .about__left--text p {
        margin-bottom: 2rem; }
  .about__right {
    width: 30%;
    position: relative; }
    .about__right--decoration {
      margin-left: 12rem;
      width: 45rem;
      height: 100vh;
      background-color: #7a9e9f;
      box-shadow: -30px -30px 1px rgba(71, 89, 92, 0.15), -15px -15px 1px rgba(71, 89, 92, 0.15); }
    .about__right--under {
      width: 49rem;
      height: 74rem;
      background-color: #47595c;
      backdrop-filter: blur(10px);
      position: absolute;
      top: 14rem;
      left: -10rem;
      opacity: 0.3; }
    .about__right--picture {
      width: 45rem;
      height: 70rem;
      background-image: url(./../../img/about.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 16rem;
      left: -8rem;
      box-shadow: 4rem 4rem 10rem rgba(71, 89, 92, 0.4); }

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.05rem; }

.btn {
  border-radius: 5rem;
  padding: 2rem 4rem;
  color: #0f1143; }

.btn__transparent {
  background-color: rgba(246, 200, 162, 0.5);
  box-shadow: -2px -2px 0px #f6c8a2, 2px 2px 2px #ccc; }
