// COLORS

$color-primary: #fad11c;
$color-primary-light: #f5f592;
$color-primary-dark: #b69b06;

$color-secondary: #9e9d24;
$color-secondary-light: #d2ce56;
$color-secondary-dark: #6c6f00;

$color-gray-light: #f4f4f4;
$color-gray-light-1: #eee;
$color-gray-light-2: #ccc;

$color-gray-dark: #999;
$color-gray-dark-1: #666;
$color-gray-dark-2: #333;

$color-white: #fff;
$color-black: #000;

$title-font: "Spartan";
$regular-font: "Open Sans";
