// COLORS

$color-primary: #c47200;
$color-primary-light: #f6c8a2;
$color-primary-dark: #8c5202;

$color-secondary: #7a9e9f;
$color-secondary-light: #cae2e2;
$color-secondary-dark: #47595c;

$color-tertiary: #24264f;
$color-tertiary-light: #c7c9e5;
$color-tertiary-dark: #0f1143;

$color-gray-light: #f4f4f4;
$color-gray-light-1: #eee;
$color-gray-light-2: #ccc;

$color-gray-dark: #999;
$color-gray-dark-1: #666;
$color-gray-dark-2: #333;

$color-white: #fff;
$color-black: #000;

$title-font: "Kaushan Script", cursive;
$regular-font: "Kanit", sans-serif;

$bp-large: 1500px;
$bp-big: 992px;
$bp-tablet: 768px;
$bp-mobile-ls: 576px;
$bp-mobile: 450px;
