.about {
    display: flex;
    justify-content: space-between;

    &__left {
        width: 64%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 2rem;

        margin: 3.8rem 0;

        &--heading {
            margin-right: -15rem;
            z-index: 2;
        }

        &--line {
        }

        &--text {
            text-align: center;
            text-indent: 10rem;
            font-size: 2rem;
            padding: 10rem 0 0 20rem;

            p {
                margin-bottom: 2rem;
            }
        }

        &--button {
            margin-top: 5rem;
        }
    }

    &__right {
        width: 30%;
        position: relative;

        &--decoration {
            margin-left: 12rem;
            width: 45rem;
            height: 90vh;
            background-color: $color-secondary;
            box-shadow: -30px -30px 1px rgba(71, 89, 92, 0.15),
                -15px -15px 1px rgba(71, 89, 92, 0.15);
        }

        &--under {
            width: 44rem;
            height: 64rem;
            background-color: $color-secondary-dark;
            backdrop-filter: blur(10px);
            position: absolute;
            top: 14rem;
            left: -10rem;
            opacity: 0.3;
        }

        &--picture {
            width: 40rem;
            height: 60rem;
            background-image: url(./../../img/about.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 16rem;
            left: -8rem;
            box-shadow: 4rem 4rem 4rem rgba($color-secondary-dark, 0.4);
        }
    }
}
