.header {
    margin-bottom: 10rem;
    width: 100%;

    &__hero {
        display: flex;

        &--decoration {
            position: relative;
            width: 40%;
        }

        &--colorbar {
            width: 55%;
            height: 95vh;
            background-color: $color-primary;
            box-shadow: 40px 40px 0px rgba(153, 93, 11, 0.15),
                20px 20px 0px rgba(153, 93, 11, 0.15);

            &::before {
                content: "";
                width: 56%;
                height: 58rem;
                background-color: rgba($color-primary-light, 0.5);
                position: absolute;
                top: 15rem;
                left: 18rem;
                box-shadow: -2rem 2rem 4rem rgba($color-secondary-dark, 0.4);
            }
        }

        &--under {
            width: 50%;
            height: 54rem;
            background: linear-gradient(
                152.45deg,
                #ad6400 0.44%,
                #e7921b 46.42%,
                #f9e0be 99.62%
            );

            backdrop-filter: blur(4px);
            -moz-backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            position: absolute;
            top: 17rem;
            left: 20rem;
        }

        &--picture {
            width: 46%;
            height: 50rem;
            background-image: url(./../../img/header.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 21rem;
            left: 22rem;
        }

        &--none {
            width: 60%;
        }

        &--h3 {
            margin-top: 14rem;
        }

        &--h1 {
            margin-bottom: 10rem;
        }
        &--buttons {
            a {
                margin-right: 3rem;
            }
        }
    }

    &__span {
        color: $color-primary;
        letter-spacing: 1.5rem;
        text-shadow: 2px 2px 1px $color-tertiary-dark;

        &--1 {
            color: $color-primary;
            letter-spacing: 0.5rem;
            text-shadow: 2px 2px 1px $color-tertiary-dark;
        }
    }
}

.logo {
    padding: 1rem;
    background-color: $color-primary-dark;
    border-radius: 50%;
    color: $color-secondary-light;

    &:hover {
        box-shadow: 0.1rem 0.1rem 0.2rem $color-primary-light;
    }
}

@media only screen and (max-width: $bp-large) {
    .header {
        &__hero {
            &--colorbar {
                &::before {
                    left: 15rem;
                }
            }

            &--under {
                left: 17rem;
            }

            &--picture {
                width: 50%;
                left: 16rem;
            }
        }
    }
}

@media only screen and (max-width: $bp-big) {
    .header {
        margin-bottom: 5rem;

        &__hero {
            &--decoration {
                position: relative;
                width: 35%;
            }

            &--colorbar {
                width: 50%;
                height: 90vh;

                &::before {
                    width: 92%;
                    height: 50rem;
                    left: 0;
                }
            }

            &--under {
                width: 80%;
                height: 46rem;
                left: 2rem;
            }

            &--picture {
                width: 80%;
                height: 46rem;
                top: 17rem;
                left: 2rem;
            }

            &--none {
                width: 65%;
            }
        }
    }
}
