.offer {
    margin-bottom: 10rem;
    width: 100%;

    &__container {
        width: 90%;
        margin: 0 auto;
        padding: 10rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
        gap: 8rem;
        justify-items: center;
    }

    &__heading--3 {
        font-size: 3rem;
        text-align: center;
    }
}

.offer__heading,
.offer__line {
    margin-left: 1rem;
}
