.offer {
    margin-bottom: 10rem;
    width: 100%;
    background-color: rgba($color-primary-light, 0.3);

    &__container {
        width: 90%;
        margin: 0 auto;
        padding: 10rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
        gap: 8rem;
        justify-items: center;
    }

    &__heading--3 {
        font-size: 3rem;
        text-align: center;
    }
}

.offer__heading,
.offer__line {
    margin-left: 1rem;
}

@media only screen and (max-width: $bp-big) {
    .offer {
        margin-bottom: 10rem;
        width: 100%;
        background-color: rgba($color-primary-light, 0.3);

        &__container {
            width: 100%;
            padding: 5rem 0;
            grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
            gap: 4rem;
            justify-items: center;
        }

        &__heading--3 {
            font-size: 3rem;
            text-align: center;
        }
    }
}

@media only screen and (max-width: $bp-mobile-ls) {
    .offer {
        &__container {
            row-gap: 10rem;
        }

        &__heading--3 {
            font-size: 2.5rem;
        }
    }
}
