button {
    border: none;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    border-radius: 5rem;
    padding: 1.5rem 3rem;
    color: $color-tertiary-dark;
    transition: all 0.2s;

    &:active {
        transform: translateY(0);
    }
}

.btn__orange {
    cursor: pointer;
    font-weight: 700;
    background: linear-gradient(
        145deg,
        rgba($color-primary, 0.5),
        rgba($color-primary, 0.9)
    );
    box-shadow: -2px -2px 1px transparent, 2px 2px 2px #47595c;

    &:hover {
        background: linear-gradient(
            145deg,
            rgba($color-tertiary, 0.7),
            rgba($color-tertiary-dark, 0.9)
        );
        color: $color-primary;
        transform: translateY(-2px);
        box-shadow: -2px -2px 1px transparent, 4px 4px 2px $color-primary;
    }
}

.btn__transparent {
    cursor: pointer;
    background: linear-gradient(
        145deg,
        rgba($color-primary-light, 0.3),
        rgba($color-primary-light, 0.6)
    );
    box-shadow: 2px 2px 2px #b5b5b5, 2px 2px 2px #ffffff;

    &:hover {
        background: linear-gradient(
            145deg,
            rgba($color-tertiary-light, 0.4),
            rgba($color-tertiary-light, 0.7)
        );
        color: $color-primary-dark;
        transform: translateY(-2px);
        box-shadow: -2px -2px 1px transparent, 4px 4px 2px $color-primary-dark;
    }
}

.btn__green {
    background: linear-gradient(
        145deg,
        rgba($color-secondary-light, 0.3),
        rgba($color-secondary-light, 0.6)
    );
    box-shadow: 2px 2px 2px $color-secondary, -2px -2px 2px #ffffff;

    &:hover {
        background: linear-gradient(
            145deg,
            rgba($color-tertiary, 0.4),
            rgba($color-tertiary, 0.7)
        );
        color: $color-primary-light;
        transform: translateY(-2px);
        box-shadow: -2px -2px 1px transparent, 4px 4px 2px $color-primary-light;
    }
}

.btn__div {
    display: inline-block;
}

@media only screen and (max-width: $bp-big) {
    .btn {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: $bp-tablet) {
    .btn {
        margin: 1.5rem 0;
    }
}
