.contact__form {
    width: 90%;

    label {
        margin-bottom: 1rem;
        color: $color-tertiary-dark;
        font-size: 2.2rem;
    }

    input,
    textarea {
        font-size: 2rem;
        color: $color-tertiary-dark;
        width: 90%;
        height: 5rem;
        padding: 0.8rem;
        background: #cae2e25f;
        box-shadow: inset 2px 2px 2px #8fa0a0,
            inset -2px -2px 2px $color-gray-light-2;
        border-radius: 6px;
        border: none;

        &:focus {
            box-shadow: 0.2rem 0.2rem 0.1rem $color-primary;
            outline: none;
        }

        &:invalid {
            border-bottom: 1px solid $color-tertiary;
        }
    }

    textarea {
        resize: none;
        height: 20rem;
        font-family: $regular-font;
    }

    &--buttons {
        width: 90%;
        margin: 11rem;

        button,
        span {
            margin-right: 3rem;
        }
    }
}

.contact__form--name,
.contact__form--email,
.contact__form--message {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
}
