.heading {
    line-height: 1.3;

    &__1 {
        line-height: 1.3;
        font-size: 10rem;
        font-family: $title-font;
        color: $color-tertiary-dark;
        margin-top: 5rem;
        letter-spacing: 5px;
    }

    &__2 {
        font-size: 8rem;
        font-family: $title-font;
        color: $color-tertiary-dark;
        letter-spacing: 5px;
    }
    &__3 {
        font-size: 5rem;
        font-family: $regular-font;
        color: $color-tertiary-dark;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__4 {
        font-size: 3rem;
        font-family: $regular-font;
    }
}
