.heading {
    line-height: 1.3;
    letter-spacing: 5px;

    &__1 {
        line-height: 1.5;
        font-size: 10rem;
        font-family: $title-font;
        color: $color-tertiary-dark;
    }

    &__2 {
        font-size: 8rem;
        font-family: $title-font;
        color: $color-tertiary-dark;
    }
    &__3 {
        font-size: 5rem;
        font-family: $regular-font;
        color: $color-tertiary-dark;
    }
    &__4 {
        font-size: 3rem;
        font-family: $regular-font;
    }
}
