.heading {
    text-transform: uppercase;
    text-align: center;

    &__1 {
        font-family: "Spartan";
        font-size: 7rem;    
    }

    &__2 {
        font-size: 4.5rem;
    }
}


// HEADER

.header__content--text {
    font-size: 3rem;
}

.header__span--1 {
    color: $color-secondary;
}

.header__span--2 {
    color: $color-primary-dark;
}

.header__span--3 {
    color: $color-white;
    text-shadow: -1px 0 $color-black, 0 1px $color-black,
      1px 0 $color-black, 0 -1px $color-black;
}
