.orange__line {
    width: 80rem;
    height: 2px;
    background-color: $color-primary;
}

a {
    text-decoration: none;
    color: $color-primary;

    &:hover {
        color: $color-secondary-light;
    }
}

.green__line {
    width: 2px;
    height: 21rem;
    background-color: $color-secondary;
}

.nav_line {
    width: 2rem;
    height: 2px;
    background-color: $color-tertiary-dark;
}

@media only screen and (max-width: $bp-big) {
    .orange__line {
        width: 50rem;
        height: 2px;
        background-color: $color-primary;
    }
}

@media only screen and (max-width: $bp-tablet) {
    .green__line {
        width: 21rem;
        height: 2px;
    }
}
