.orange__line {
    width: 100rem;
    height: 2px;
    background-color: $color-primary;
}

a {
    text-decoration: none;
}

.green__line {
    width: 2px;
    height: 21rem;
    background-color: $color-secondary;
}
